{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageTitle %}
    Witamy | {{ parent() }}
{% endblock %}

{% block navigation %}{% endblock %}

{% block fos_user_content %}
    {#<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>#}
    {#{% if targetUrl %}#}
    {#<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>#}
    {#{% endif %}#}

    <div id="pagecontainer" class="container">
        <div class="panel panel-default form-login">
            <div class="panel-body">
                <img src="{{ asset('bundles/brzozowskiintellihome/img/logo.jpg') }}" class="logo" alt="IntelliHome">
                <span style="font-size:28px;color:green">Intelli</span><span style="font-size:28px;color:black">Home</span>
                <br>
                <h3>Gratulacje {{ user.username }}!</h3>
                <p>Twoje konto zostało utworzone</p>
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-link btn-xs">Zaloguj się</a>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}

{% block footer %}{% endblock %}
