{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

<br><br>


<div id="pagecontainer" class="container">
    <div class="panel panel-default form-login">
        <div class="panel-body">
            <h3 style="text-align: center">ZMIANA HASŁA</h3>
            <br>

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        {{ form_widget(form) }}
        <input type="submit" class="btn btn-info" value="{{ 'change_password.submit'|trans }}" />
    {{ form_end(form) }}

        </div>
    </div>
</div>
<br><br><br>



{#<form action="{{ path('intellihome_settings') }}" method="post">#}
    {#<div class="modal-body">#}
        {#<label>Wpisz swoje obecne hasło:#}
            {#{{ form_widget() }}#}
            {#<input type="password" name="oldPassword" class="form-control" id="oldPassword">#}
        {#</label>#}
        {#<br>#}
        {#<label>Wpisz swoje nowe hasło:#}
            {#<input type="password" name="newPassword" class="form-control" id="newPassword">#}
        {#</label>#}
    {#</div>#}
    {#<div class="modal-footer">#}
        {#<button id="saveNewPassword" type="button" class="btn btn-info">Zmień</button>#}
    {#</div>#}
{#</form>#}
