<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- If you delete this meta tag, Half Life 3 will never be released. -->
        <meta name="viewport" content="width=device-width" />

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Potwierdzenie rejestracji</title>

    </head>

    <body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#ffffff" offset="0" leftmargin="0" style="background-color: #ffffff;">

        <hr style="height: 3px; background-color: #609ee4">
        <h2>Dostałeś nową wiadomość od użytkownika IntelliHome</h2>
        <br>
        <h3>Dane użytkownika:</h3>
        <p>Imię: <b>{{ name }}</b></p>
        <p>Nazwisko: <b>{{ surname }}</b></p>
        <p>E-mail: <b>{{ email }}</b></p>
        <br>
        <hr style="height: 3px; background-color: #609ee4">
        <h3>Szczegóły wiadomości:</h3>
        <p>Tytuł: <b>{{ subject }}</b></p>
        <p>Treść: <b><pre style="font-size: 12px; font-family: Helvetica, Arial, sans-serif;">{{ message }}</pre></b></p>

    </body>

</html>