<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description }}">
    <meta name="author" content="{{ meta_author }}">

    <link rel="shortcut icon" href="{{ asset('bundles/brzozowskiintellihome/img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ asset('bundles/brzozowskiintellihome/img/android-chrome-192x192.png') }}" sizes="192x192">

    <title>{% spaceless %}{% block pageTitle %}IntelliHome{% endblock %}{% endspaceless %}</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/brzozowskiintellihome/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/brzozowskiintellihome/css/bootstrap-theme.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/brzozowskiintellihome/css/styles.css') }}" rel="stylesheet">

    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% block navigation %}

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="panel.php">
                    <span style="font-size:28px;color:green">
                        <img src="{{ asset('bundles/brzozowskiintellihome/img/logo.jpg') }}" class="logo" style="width:35px" alt="Intelli Home">
                        <!-- <span style="font-size:24px" class="glyphicon glyphicon-grain" aria-hidden="true"></span> -->
                        {% spaceless %}
                        Intelli
                    </span>
                    <span style="font-size:28px;color:black">Home</span>
                    {% endspaceless %}
                </a>

            </div>

            {%
            set mainMenu = [
            {'path': 'intellihome_panel', 'name': 'Panel', 'glyphicon': 'home'},
            {'path': 'intellihome_charts', 'name': 'Wykresy', 'glyphicon': 'stats'},
            {'path': 'intellihome_automation', 'name': 'Automatyka', 'glyphicon': 'tasks'},
            {'path': 'intellihome_logs', 'name': 'Logi', 'glyphicon': 'list'},
            {'path': 'intellihome_settings', 'name': 'Ustawienia', 'glyphicon': 'cog'},
            {'path': 'fos_user_security_logout', 'name': 'Wyloguj', 'glyphicon': 'off'}
            ]
            %}
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    {% for item in mainMenu %}
                        <li{{ app.request.get('_route') == item['path'] ? ' class="active"' : '' }}>
                            <a href="{{ path(item['path']) }}">
                                <span class="glyphicon glyphicon-{{ item['glyphicon'] }}" aria-hidden="true"></span>
                                <span class="nav-text">{{ item['name'] }}</span>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

{% endblock %}

<br><br>

{% block alertContainer %}
    <div id="alerts" class="container alerts">
        {% for type,messages in app.session.flashbag.all() %}
            {% for msg in messages %}
                <div class="alert alert-{{ type }}" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <b>{{ msg }}</b>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{#<div>#}
    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
        {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
        {#<a href="{{ path('fos_user_security_logout') }}">#}
            {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
        {#</a>#}
    {#{% else %}#}
        {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
    {#{% endif %}#}
{#</div>#}


{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>

{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; IntelliHome 2017 - System projected by Karol Brzozowski</p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ asset('bundles/brzozowskiintellihome/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
