{% extends "BrzozowskiIntelliHomeBundle::base.html.twig" %}

{% block pageTitle %}
    Ustawienia | {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){

            $("#saveSystemSettings").click(function() {
                var data = [];
                $("input[name='systemSettings[]']").each( function(){
                    if($(this).prop('checked') == true) data[$(this).val()] = 1;
                        else data[$(this).val()] = 0;

                    //data[$(this).val()] = $(this).prop('checked');
                });

                $.ajax({
                    url: '{{ path('intellihome_settings_options_update') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {'options': {
                                    'value1': data['value1'],
                                    'value2': data['value2'],
                                    'value3': data['value3'],
                                    'value4': data['value4'],
                                    'value5': data['value5']
                                    }
                    },
                    success: function (d) {

                    },
                    error : function(d){
                        //console.log(d);
                        showAjaxError();
                    },
                    complete: function(){
                        checkSession();
                    }
                });
            });


            $('#saveMemorySettings').click(function(){
                var alarmPhone = $('#alarmPhone').val();
                var sirenTime = $('#sirenTime').val();
                var blindTime = $('#blindTime').val();

                $.ajax({
                    url: '{{ path('intellihome_settings_memory_update') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {'alarmPhone': alarmPhone, 'sirenTime': sirenTime, 'blindTime': blindTime},
                    success:function(d){
                        //console.log(d);
                    },
                    error : function(){
                        showAjaxError();
                    },
                    complete: function(){
                        checkSession();
                    }
                });
            });

            $("#saveUserSettings").click(function() {
                var data = [];
                $("input[name='userSettings[]']").each( function(){
                    if($(this).prop('checked') == true) data[$(this).val()] = 1;
                        else data[$(this).val()] = 0;
                });

                console.log(data);
                $.ajax({
                    url: '{{ path('intellihome_settings_user_update') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {'options': {
                        'value1': data['value1'],
                        'value2': data['value2']
                    }
                    },
                    success: function (d) {
                        //console.log(d);
                    },
                    error : function(d){
                        showAjaxError();
                    },
                    complete: function(){
                        checkSession();
                    }
                });
            });

            $("#saveMotionsSettings").click(function() {
                var data = [null];
                $("input[name='motions[]']").each( function(){
                    data.push( $(this).val() );
                });

                $.ajax({
                    url: '{{ path('intellihome_settings_motions_update') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {'motions': data },
                    success: function (d) {

                    },
                    error : function(d){
                        //console.log(d);
                        showAjaxError();
                    },
                    complete: function(){
                        checkSession();
                    }
                });
            });

            $("#saveCardsSettings").click(function() {
                var data = [null];
                $("input[name='cards[]']").each( function(){
                    data.push( $(this).val() );
                });

                $.ajax({
                    url: '{{ path('intellihome_settings_cards_update') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {'cards': data },
                    success: function (d) {

                    },
                    error : function(d){
                        //console.log(d);
                        showAjaxError();
                    },
                    complete: function(){
                        checkSession();
                    }
                });
            });


        });

    </script>
{% endblock %}

{% block pageContainer %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Ustawienia
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <h4>Ustawienia systemu IntelliHome</h4>
                        <form action="{{ path('intellihome_settings') }}" method="post">
                            <div class="form-group">
                                <label>
                                    <input name="systemSettings[]" type="checkbox" value="value1"
                                    {% if settingsRow.showcameraviewwhenalarmdeactivated == 'true' %}
                                        checked
                                    {% endif %}
                                    >   Nie pokazuj na panelu obrazu z kamery  gdy alarm jest nieaktywny
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input name="systemSettings[]" type="checkbox" value="value2"
                                    {% if settingsRow.changeblindsafteralarmacticated == 'true' %}
                                        checked
                                    {% endif %}
                                    >   Zamykaj rolety przy aktywacji alarmu i otwieraj je przy dezaktywacji
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input name="systemSettings[]" type="checkbox" value="value3"
                                    {% if settingsRow.changeheatingafteralarmacticated == 'true' %}
                                       checked
                                    {% endif %}
                                    >   Ustaw temperaturę 15<sup>o</sup>C przy aktywacji alarmu i 20<sup>o</sup>C przy dezaktywacji
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input name="systemSettings[]" type="checkbox" value="value4"
                                    {% if settingsRow.preventheating == 'true' %}
                                       checked
                                    {% endif %}
                                    >   W upalne dni zamykaj rolety (chyba, że już są zamknięte) i otwieraj gdy zajdzie słońce
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input name="systemSettings[]" type="checkbox" value="value5"
                                    {% if settingsRow.preventblindsdamage == 'true' %}
                                       checked
                                    {% endif %}
                                    >   Zamknij rolety przy silnym wietrze
                                </label>
                            </div>
                            <button type="button" id="saveSystemSettings" class="btn btn-info">Zapisz</button>
                        </form>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12" style="border-left:solid 1px #ccc">
                        <h4>Pamięć</h4>
                        <form action="{{ path('intellihome_settings') }}" method="post">
                            <div class="form-group">
                                <label>Alarmowy numer SMS:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">+48</div>
                                    <input id="alarmPhone" name="phoneNumber" type="text" class="form-control" value="{{ settingsRow.alarmPhoneNumber }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Czas sygnału alarmowego:</label>
                                <div class="input-group">
                                    <input id="sirenTime" name="sirenSettings" type="text" class="form-control" value="{{ settingsRow.sirenTime }}">
                                    <div class="input-group-addon">min</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Czas operacyjny rolet:</label>
                                <div class="input-group">
                                    <input id="blindTime" name="blindSettings" type="text" class="form-control" value="{{ settingsRow.blindTime }}">
                                    <div class="input-group-addon">ms</div>
                                </div>
                            </div>
                            <button id="saveMemorySettings" type="button" class="btn btn-info">Zapisz</button>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <h4>Ustawienia osobiste</h4>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>
                                    <input name="userSettings[]" type="checkbox" value="value1"
                                    {% if userSettingsRow.liquidWasteEmail == 1 %}
                                        checked
                                    {% endif %}
                                    >   Chcę otrzymywać e-mail z powiadomieniem o wysokim poziomie nieczystości płynnych
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input name="userSettings[]" type="checkbox" value="value2"
                                    {% if userSettingsRow.logsEmail == 1 %}
                                        checked
                                    {% endif %}
                                    >   Chcę otrzymywać co miesiąc e-mail z logami systemu z ostatniego miesiąca
                                </label>
                            </div>

                            <button id="saveUserSettings" type="button" class="btn btn-info">Zapisz</button>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12" style="border-left:solid 1px #ccc">
                        <h4>Opcje dodatkowe</h4>
                        <a href="{{ path('fos_user_profile_show') }}">
                            <button style="width:48%" class="btn btn-info" >Pokaż profil</button>
                        </a>
                        <a href="{{ path('fos_user_change_password') }}">
                            <button style="width:48%" class="btn btn-info" >Zmień hasło</button>
                        </a>
                        <br><br>
                        {#<button style="width:48%" class="btn btn-info" data-toggle="modal" data-target="#changePassword">Zmień hasło</button>#}
                        <button style="width:48%" class="btn btn-info" data-toggle="modal" data-target="#sendMessage">Zgłoś problem</button>
                        <button style="width:48%" class="btn btn-info" data-toggle="modal" data-target="#deleteAccount">Usuń konto</button>
                    </div>

                    <!-- Modal zmiana hasła -->
                    <div class="modal fade" id="changePassword" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Zmiana hasła</h4>
                                </div>
                                {#<iframe src="{{ path('fos_user_change_password') }}" style="width: 100%; border: 0"></iframe>#}
                                {#<form action="{{ path('fos_user_change_password') }}" method="post">#}
                                    {#<div class="modal-body">#}
                                        {#<label>Wpisz swoje obecne hasło:#}
                                            {#<input type="password" class="form-control" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]">#}
                                        {#</label>#}
                                        {#<br>#}
                                        {#<label>Wpisz swoje nowe hasło:#}
                                            {#<input type="password" class="form-control" id="fos_user_change_password_form_plainPassword_first" name="fos_user_change_password_form[plainPassword][first]">#}
                                        {#</label>#}
                                        {#<br>#}
                                        {#<label>Wpisz swoje nowe hasło ponownie:#}
                                            {#<input type="password" class="form-control" id="fos_user_change_password_form_plainPassword_second" name="fos_user_change_password_form[plainPassword][second]">#}
                                        {#</label>#}
                                    {#</div>#}
                                    {#<div class="modal-footer">#}
                                        {#<button type="submit" class="btn btn-info">Zmień</button>#}
                                        {#<button id="saveNewPassword" type="button" class="btn btn-info">Zmień</button>#}
                                    {#</div>#}
                                {#</form>#}
                            </div>
                        </div>
                    </div>

                    <!-- Modal usuwanie konta -->
                    <div class="modal fade" id="deleteAccount" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Usuwanie konta</h4>
                                </div>
                                <form action="{{ path('intellihome_settings') }}" method="post">
                                    <div class="modal-body">
                                        <h4>Drogi użytkowniku,</h4>
                                        <p>Usunięcie konta jest czynnością nieodwracalną. Spowoduje usunięcie z bazy danych systemu IntelliHome Twoich ustawień.</p>
                                        <p>Przepraszamy, jeżeli nie zdołaliśmy zaspokoić Twoich potrzeb związanych z technologią domów inteligentnych.</p>
                                        <p>Jesteś pewien, że chcesz usunąć konto?</p>
                                        <label>Wpisz swoje hasło:
                                            <input type="password" name="currentPass" class="form-control" id="current-password">
                                        </label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info">Potwierdzam usunięcie konta</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- Modal zgłoszenie błędu -->
                    <div class="modal fade" id="sendMessage" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Zgłoszenie problemu</h4>
                                </div>
                                <form action="{{ path('intellihome_settings_send_email_to_admin') }}" method="post">
                                    <div class="modal-body">
                                        <div class="input-group">
                                            <div class="input-group-addon">Od: </div>
                                            <input style="background-color:white"type="text" class="form-control" value="{{ app.user.email }}" readonly>
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <div class="input-group-addon">Do: </div>
                                            <input style="background-color:white" type="text" class="form-control" value="{{ adminEmail }}" readonly>
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <div class="input-group-addon">Temat: </div>
                                            <input name="messageSubject" style="background-color:white" type="text" class="form-control" value="">
                                        </div>
                                        <br>
                                        <textarea name="messageContent" class="form-control" rows="6" placeholder="Tutaj napisz swoją wiadomość do Administratora"></textarea>

                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-info" value="Wyślij wiadomość">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h4>Czujki ruchu</h4>
                        <form action="{{ path('intellihome_settings') }}" method="POST">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>L.p.</th>
                                    <th>Nazwa</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for motion in motions %}
                                    <tr>
                                        <td>{{ motion.id }}</td>
                                        <td><input class="motion-table-field" type="text" name="motions[]" value="{{ motion.roomName }}"></td>
                                    </tr>
                                {% else %}
                                    <tr style="height: 156px">
                                        <td colspan="2" style="vertical-align:middle; text-align: center;">Brak danych</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <button id="saveMotionsSettings" type="button" class="btn btn-info">Zapisz</button>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h4>Karty dostępu</h4>
                        <form action="{{ path('intellihome_settings') }}" method="POST">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>L.p.</th>
                                    <th>Imię i nazwisko</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for card in persons if card.id < 5 %}
                                    {#{% fieldName = "card"+row.id %}#}
                                    <tr>
                                        <td>{{ card.id }}</td>
                                        <td><input class="cards-table-field" type="text" name="cards[]" value="{{ card.name }}"></td>
                                    </tr>
                                {% else %}
                                    <tr style="height: 156px">
                                        <td colspan="2" style="vertical-align:middle; text-align: center;">Brak danych</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <button id="saveCardsSettings" type="button" class="btn btn-info">Zapisz</button>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:justify;border-left:solid 1px #ccc">
                        <h4>Podpowiedź</h4>
                        <p>Czujki z pozycji pierwszej i drugiej po wykryciu ruchu uruchamiają odliczanie (20 sekund)
                            w celu wprowadzenia PINu lub dezaktywacji alarmu kartą. Pozostałe czujki po wykryciu natychmiast
                            uruchamiają alarm i zostają wysłane powiadomienia alarmowe.</p>
                        <br>
                        <p>Karty dostępu obsługiwane przez czytnik alarmowy pracują w częstotliwości 13,56MH. W celu
                            dopisania do systemu kolejnej karty należy nabyć kartę pracującą w podanej częstotliwości
                            i za pomocą trybu serwisowego (patrz: instrukcja) dodać ją do pamięci a następnie nazwać.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}